.vagrant/
.vscode

/bin/*

storage/

config.json
database.json
database.dev.json
database.prod.json
config.dev.json
config.prod.json

/node_modules/*
!/node_modules/discord.js
/node_modules/discord.js/*
!/node_modules/discord.js/typings
/node_modules/discord.js/typings/*
!/node_modules/discord.js/typings/index.d.ts